<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_temp_news :: header ('NEWS DETAIL')">
</head>
<body>

  <div class="container">
    <div class="page-header">
      <h1 th:utext="#{news.detail.title}">news.detail.title</h1>
    </div>

    <div th:replace="_temp_news :: nav"></div>

    <div class="row">
      <div class="col-md-12">
        <table class="table" th:object="${news}">
          <tr>
            <th class="col-md-3 active" th:utext="#{news.id}">id</th>
            <td class="col-md-9" th:text="*{id}"></td>
          </tr>
          <tr>
            <th class="col-md-3 active" th:utext="#{news.countrycod}">countrycod</th>
            <td class="col-md-9" th:text="*{countrycod}"></td>
          </tr>
          <tr>
            <th class="col-md-3 active" th:utext="#{news.doc}">doc</th>
            <td class="col-md-9" th:text="*{doc}"></td>
          </tr>
        </table>
      </div>
    </div>
    <div>
    <table>
    <tr>
              <td>
                <a class="btn btn-default" href="/news/updat/${news.id}" th:href="@{/news/updat/{id}(id=${news.id})}" th:text="更新">1</a>
              </td>
              <td>
                <a class="btn btn-default" href="/news/updat/${news.id}" th:href="@{/news/updat/{id}(id=${news.id})}" th:text="戻る">1</a>
              </td>
    </tr>
    </table>
	</div>
    <div th:replace="_temp_news :: footer"></div>
  </div>

  <div th:include="_temp_news :: script"></div>
</body>
</html>