<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_temp_timmet :: header ('TIMMET')">
</head>
<body>

  <div class="container">
    <div class="page-header">
      <h1 th:utext="#{timmet.index.title}">News.index.title</h1>
      <p th:if="${emptyMessage}" th:text="${emptyMessage}">empty message</p>
      <p th:if="${errorMessage}" th:text="${errorMessage}">error message</p>
      <p th:if="${deleteMessage}" th:text="${deleteMessage}">delete message</p>
    </div>

    <div th:replace="_temp_timmet :: nav"></div>

    <div class="row">
      <div class="col-md-6">
        <form action="/timmet/search" th:action="@{/timmet/search}" method="get">
          <div class="input-group">
            <input type="text" name="keyword" class="form-control" placeholder="Search for..." />
            <span class="input-group-btn">
              <input class="btn btn-default" type="submit" value="Search!" />
            </span>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <table class="table table-striped">
          <thead>
            <tr>
              <th th:utext="#{timmet.metst}">metst</th>
              <th th:utext="#{timmet.metend}">metend</th>
              <th th:utext="#{timmet.dyupd}">dyupd</th>
              <th th:utext="#{timmet.usrset}">usrset</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item,iterStat : ${list}">
              <td>
                <a class="btn btn-default" href="/timmet/${item.metst}" th:href="@{/timmet/{id}(id=${item.metst})}" th:text="${item.metst}">1</a>
              </td>
              <td th:text="${item.metend != null}? ${item.metend} : '-'"></td>
              <td th:text="${item.dyupd != null}? ${item.dyupd} : '-'"></td>
              <td th:text="${item.usrset != null}? ${item.usrset} : '-'"></td>
              <td>
                <a class="btn btn-warning" href="/timmet/delete/${item.metst}" th:href="@{/timmet/delete/{id}(id=${item.metst})}">delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div th:replace="_temp_timmet :: footer"></div>
  </div>

  <div th:include="_temp_timmet :: script"></div>
</body>
</html>