<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_temp_sendbas :: header ('SENDBAS DETAIL')">
</head>
<body>

  <div class="container">
    <div class="page-header">
      <h1 th:utext="#{sendbas.detail.title}">sendbas.detail.title</h1>
    </div>

    <div th:replace="_temp_sendbas :: nav"></div>

    <div class="row">
      <div class="col-md-12">
        <table class="table" th:object="${sendbas}">
          <tr>
            <th class="col-md-3 active" th:utext="#{sendbas.memcod}">memcod</th>
            <td class="col-md-9" th:text="*{memcod}"></td>
          </tr>
          <tr>
            <th class="col-md-3 active" th:utext="#{sendbas.countryid}">countryid</th>
            <td class="col-md-9" th:text="*{countryid}"></td>
          </tr>
          <tr>
            <th class="col-md-3 active" th:utext="#{sendbas.zipcod}">zipcod</th>
            <td class="col-md-9" th:text="*{zipcod}"></td>
          </tr>
          <tr>
            <th class="col-md-3 active" th:utext="#{sendbas.addrss1}">addrss1</th>
            <td class="col-md-9" th:text="*{addrss1}"></td>
          </tr>
          <tr>
            <th class="col-md-3 active" th:utext="#{sendbas.addrss2}">addrss2</th>
            <td class="col-md-9" th:text="*{addrss2}"></td>
          </tr>
          <tr>
            <th class="col-md-3 active" th:utext="#{sendbas.addrss3}">addrss3</th>
            <td class="col-md-9" th:text="*{addrss3}"></td>
          </tr>
          <tr>
            <th class="col-md-3 active" th:utext="#{sendbas.addrss4}">addrss4</th>
            <td class="col-md-9" th:text="*{addrss4}"></td>
          </tr>
          <tr>
            <th class="col-md-3 active" th:utext="#{sendbas.addrss5}">addrss5</th>
            <td class="col-md-9" th:text="*{addrss5}"></td>
          </tr>
          <tr>
            <th class="col-md-3 active" th:utext="#{sendbas.tele1}">tele1</th>
            <td class="col-md-9" th:text="*{tele1}"></td>
          </tr>
          <tr>
            <th class="col-md-3 active" th:utext="#{sendbas.tele2}">tele2</th>
            <td class="col-md-9" th:text="*{tele2}"></td>
          </tr>
          <tr>
            <th class="col-md-3 active" th:utext="#{sendbas.tele3}">tele3</th>
            <td class="col-md-9" th:text="*{tele3}"></td>
          </tr>
          <tr>
            <th class="col-md-3 active" th:utext="#{sendbas.fre01}">fre01</th>
            <td class="col-md-9" th:text="*{fre01}"></td>
          </tr>
          <tr>
            <th class="col-md-3 active" th:utext="#{sendbas.fre02}">fre02</th>
            <td class="col-md-9" th:text="*{fre02}"></td>
          </tr>
          <tr>
            <th class="col-md-3 active" th:utext="#{sendbas.fre03}">fre03</th>
            <td class="col-md-9" th:text="*{fre03}"></td>
          </tr>
          <tr>
            <th class="col-md-3 active" th:utext="#{sendbas.fre04}">fre04</th>
            <td class="col-md-9" th:text="*{fre04}"></td>
          </tr>
          <tr>
            <th class="col-md-3 active" th:utext="#{sendbas.fre05}">fre05</th>
            <td class="col-md-9" th:text="*{fre05}"></td>
          </tr>
          <tr>
            <th class="col-md-3 active" th:utext="#{sendbas.fre06}">fre06</th>
            <td class="col-md-9" th:text="*{fre06}"></td>
          </tr>
          <tr>
            <th class="col-md-3 active" th:utext="#{sendbas.fre07}">fre07</th>
            <td class="col-md-9" th:text="*{fre07}"></td>
          </tr>
          <tr>
            <th class="col-md-3 active" th:utext="#{sendbas.fre08}">fre08</th>
            <td class="col-md-9" th:text="*{fre08}"></td>
          </tr>
          <tr>
            <th class="col-md-3 active" th:utext="#{sendbas.fre09}">fre09</th>
            <td class="col-md-9" th:text="*{fre09}"></td>
          </tr>
          <tr>
            <th class="col-md-3 active" th:utext="#{sendbas.fre10}">fre10</th>
            <td class="col-md-9" th:text="*{fre10}"></td>
          </tr>
          <tr>
            <th class="col-md-3 active" th:utext="#{sendbas.dyupd}">dyupd</th>
            <td class="col-md-9" th:text="*{dyupd}"></td>
          </tr>
          <tr>
            <th class="col-md-3 active" th:utext="#{sendbas.usrupd}">usrupd</th>
            <td class="col-md-9" th:text="*{usrupd}"></td>
          </tr>
          <tr>
            <th class="col-md-3 active" th:utext="#{sendbas.memo}">memo</th>
            <td class="col-md-9" th:text="*{memo}"></td>
          </tr>
          <tr>
            <th class="col-md-3 active" th:utext="#{sendbas.delflg}">delflg</th>
            <td class="col-md-9" th:text="*{delflg}"></td>
          </tr>
        </table>
      </div>
    </div>

    <div th:replace="_temp_sendbas :: footer"></div>
  </div>

  <div th:include="_temp_sendbas :: script"></div>
</body>
</html>