<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_temp_sendbas :: header ('SENBDAS')">
</head>
<body>

  <div class="container">
    <div class="page-header">
      <h1 th:utext="#{sendbas.index.title}">sendbas.index.title</h1>
      <p th:if="${emptyMessage}" th:text="${emptyMessage}">empty message</p>
      <p th:if="${errorMessage}" th:text="${errorMessage}">error message</p>
      <p th:if="${deleteMessage}" th:text="${deleteMessage}">delete message</p>
    </div>

    <div th:replace="_temp_sendbas :: nav"></div>

    <div class="row">
      <div class="col-md-6">
        <form action="/sendbas/search" th:action="@{/sendbas/search}" method="get">
          <div class="input-group">
            <input type="text" name="keyword" class="form-control" placeholder="Search for..." />
            <span class="input-group-btn">
              <input class="btn btn-default" type="submit" value="Search!" />
            </span>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <table class="table table-striped">
          <thead>
            <tr>
              <th th:utext="#{sendbas.memcod}">memcod</th>
              <th th:utext="#{sendbas.memnam}">memnam</th>
              <th th:utext="#{sendbas.countrynmfrm}">countrynmfrm</th>
              <th th:utext="#{sendbas.zipcod}">zipcod</th>
              <th th:utext="#{sendbas.addr}">addr</th>
              <th th:utext="#{sendbas.tele1}">tele1</th>
              <th th:utext="#{sendbas.tele2}">tele2</th>
              <th th:utext="#{sendbas.tele3}">tele3</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item,iterStat : ${list}">
              <td>
                <a class="btn btn-default" href="/sendbas/${item.memcod}" th:href="@{/sendbas/{memcod}(memcod=${item.memcod})}" th:text="${item.memcod}">1</a>
              </td>
              <td th:text="${item.memnam != null}? ${item.memnam} : '-'">1</td>
              <td th:text="${item.countrynmfrm != null}? ${item.countrynmfrm} : '-'">1</td>
              <td th:text="${item.zipcod != null}? ${item.zipcod} : '-'">1</td>
              <td th:text="${item.addr != null}? ${item.addr} : '-'">1</td>
              <td th:text="${item.tele1 != null}? ${item.tele1} : '-'">1</td>
              <td th:text="${item.tele2 != null}? ${item.tele2} : '-'">1</td>
              <td th:text="${item.tele3 != null}? ${item.tele3} : '-'">1</td>
              <td>
                <a class="btn btn-warning" href="/sendbas/delete/${item.memcod}" th:href="@{/sendbas/delete/{memcod}(memcod=${item.memcod})}">delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div th:replace="_temp_sendbas :: footer"></div>
  </div>

  <div th:include="_temp_sendbas :: script"></div>
</body>
</html>