<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_temp_news :: header ('NEWS')">
</head>
<body>

  <div class="container">
    <div class="page-header">
      <h1 th:utext="#{news.index.title}">News.index.title</h1>
      <p th:if="${emptyMessage}" th:text="${emptyMessage}">empty message</p>
      <p th:if="${errorMessage}" th:text="${errorMessage}">error message</p>
      <p th:if="${deleteMessage}" th:text="${deleteMessage}">delete message</p>
    </div>

    <div th:replace="_temp_news :: nav"></div>

    <div class="row">
      <div class="col-md-6">
        <form action="/news/search" th:action="@{/news/search}" method="get">
          <div class="input-group">
            <input type="text" name="keyword" class="form-control" placeholder="Search for..." />
            <span class="input-group-btn">
              <input class="btn btn-default" type="submit" value="Search!" />
            </span>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <table class="table table-striped">
          <thead>
            <tr>
              <th th:utext="#{news.id}">id</th>
              <th th:utext="#{news.countrycod}">countrycod</th>
              <th th:utext="#{news.doc}">doc</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item,iterStat : ${list}">
              <td>
                <a class="btn btn-default" href="/news/${item.id}" th:href="@{/news/{id}(id=${item.id})}" th:text="${item.id}">1</a>
              </td>
              <td th:text="${item.countrycod != null}? ${item.countrycod} : '-'"></td>
              <td th:text="${item.doc != null}? ${item.doc} : '-'"></td>
              <td>
                <a class="btn btn-warning" href="/news/delete/${item.id}" th:href="@{/news/delete/{id}(id=${item.id})}">delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div th:replace="_temp_news :: footer"></div>
  </div>

  <div th:include="_temp_news :: script"></div>
</body>
</html>