<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_temp_mem :: header ('MEMBER')">
</head>
<body>

  <div class="container">
    <div class="page-header">
      <h1 th:utext="#{member.index.title}">Member.index.title</h1>
      <p th:if="${emptyMessage}" th:text="${emptyMessage}">empty message</p>
      <p th:if="${errorMessage}" th:text="${errorMessage}">error message</p>
      <p th:if="${deleteMessage}" th:text="${deleteMessage}">delete message</p>
    </div>

    <div th:replace="_temp_mem :: nav"></div>

    <div class="row">
      <div class="col-md-6">
        <form action="/member/search" th:action="@{/member/search}" method="get">
          <div class="input-group">
            <input type="text" name="keyword" class="form-control" placeholder="Search for..." />
            <span class="input-group-btn">
              <input class="btn btn-default" type="submit" value="Search!" />
            </span>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <table class="table table-striped">
          <thead>
            <tr>
              <th th:utext="#{member.memcod}">memcod</th>
              <th th:utext="#{member.regidat}">regidat</th>
              <th th:utext="#{member.firstnmkj}">firstnmkj</th>
              <th th:utext="#{member.secondnmkj}">secondnmkj</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item,iterStat : ${list}">
              <td>
                <a class="btn btn-default" href="/member/${item.memcod}" th:href="@{/member/{memcod}(memcod=${item.memcod})}" th:text="${item.memcod}">1</a>
              </td>
              <td th:text="${item.regidat != null}? ${item.regidat} : '-'"></td>
              <td th:text="${item.firstnmkj != null}? ${item.firstnmkj} : '-'"></td>
              <td th:text="${item.secondnmkj != null}? ${item.secondnmkj} : '-'"></td>
              <td>
                <a class="btn btn-warning" href="/member/delete/${item.memcod}" th:href="@{/memcod/delete/{memcod}(id=${item.memcod})}">delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div th:replace="_temp_mem :: footer"></div>
  </div>

  <div th:include="_temp_mem :: script"></div>
</body>
</html>